
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
.Tilt{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.Sect{
    background: #000;
    z-index: 3;
}
/* --------------------------------------------- */
.img_c {
    height: 90vh;
    object-fit: cover;
}
.cont__carru{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 45vh;
}

.cont__carru h5{
    font-size: 40px;
    width: 100%;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.197);
    padding: 20px 40px;
}

.img_p5{
    background-image: url('https://images.unsplash.com/photo-1617802690658-1173a812650d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 52vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.H_p5{
    color: rgb(167, 167, 167);
}
/* ---------------------------------------------------- */
/* esImg */
.esImg{
    position: relative;
    object-position: center; 
}
.esImg img{
    width: 100%;
    opacity: .2;
    object-fit: cover;   
    height: 28rem;
}
.VideoO{
    position: absolute;
    left: 22%;
    margin-top: -34%;
    justify-content: flex-start; }

.videoO{
    width: 650px; 
    height: 380px; 
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    z-index: 1;
    border-radius: 4px;
}
/* -------------------------------------------------- */
/*  */

/* ----------------------------------------------------------- */
/* Part of btn up */
#Top__btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    color: #000;
    border: none;
    cursor: pointer;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#Top__btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    color: #000;
    transition: .3s;
}